src/main/mule/lab4.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd">
	<http:listener-config
		name="lab4-httpListenerConfig">
		<http:listener-connection host="0.0.0.0"
			port="8081" />
		<http:listener-interceptors >
			<http:cors-interceptor >
				<http:origins >
					<http:public-resource />
				</http:origins>
			</http:cors-interceptor>
		</http:listener-interceptors>
	</http:listener-config>
	<apikit:config name="lab4-config" api="lab4.raml"
		outboundHeadersMapName="outboundHeaders"
		httpStatusVarName="httpStatus" />
	<wsc:config name="Web_Service_Consumer_Config"
		doc:name="Web Service Consumer Config"
		doc:id="4b5346a2-70ce-4aeb-b069-d5a1b8bc1dca">
		<wsc:connection
			wsdlLocation="http://127.0.0.1:8091/service-oriented-architecture-actions-jaxrs-api/StarshipResource?wsdl"
			service="StarshipResourceService" port="StarshipResourcePort"
			address="http://localhost:8091/service-oriented-architecture-actions-jaxrs-api/StarshipResource">
			<wsc:web-service-security
				actor="http://schemas.xmlsoap.org/soap/actor/next" />
		</wsc:connection>
	</wsc:config>
	<flow name="lab4-main">
        <http:listener config-ref="lab4-httpListenerConfig" path="/api/*">
            <repeatable-in-memory-stream />
			<http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="lab4-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="lab4-console">
        <http:listener config-ref="lab4-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="lab4-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="options:\starship\(starship-id)\load\(space-marine-id):lab4-config">
        <logger level="INFO" message="options:\starship\(starship-id)\load\(space-marine-id):lab4-config" />
		<ee:transform>
            <ee:variables>
                <ee:set-variable variableName="starship-id">attributes.uriParams.'starship-id'</ee:set-variable>
                <ee:set-variable variableName="space-marine-id">attributes.uriParams.'space-marine-id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
    </flow>
    <flow name="options:\starship\(starship-id)\unload-all:lab4-config">
        <logger level="INFO" message="options:\starship\(starship-id)\unload-all:lab4-config" />
		<ee:transform>
            <ee:variables>
                <ee:set-variable variableName="starship-id">attributes.uriParams.'starship-id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
    </flow>
    <flow name="post:\starship\(starship-id)\load\(space-marine-id):lab4-config">
        <logger level="INFO" message="post:\starship\(starship-id)\load\(space-marine-id):lab4-config" />
		<set-variable value="#[attributes.uriParams.'starship-id']" doc:name="Set Variable" doc:id="cfb133cc-6638-483e-9f06-878928fa3b33" variableName="starshipId"/>
		<set-variable value="#[attributes.uriParams.'space-marine-id']" doc:name="Set Variable" doc:id="80a550e9-970d-48db-b65b-67a4a8318ad0" variableName="spaceMarineId"/>
        <ee:transform doc:name="Transform Message" doc:id="941d120b-0d5f-4092-a335-e47133d6d038" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://localhost:8091/service-oriented-architecture-actions-jaxrs-api/StarshipResource
---
{
	ns0#putOnStarship: {
		argument: {
			spaceMarine: vars.spaceMarineId,
			starship: vars.starshipId
		}
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume doc:name="Consume" doc:id="5c3fb2cf-8d0d-4a26-aad6-5f4b2a728fb7" config-ref="Web_Service_Consumer_Config" operation="putOnStarship"/>
		<ee:transform doc:name="Transform Message" doc:id="1194994e-db17-4249-bd8e-fe0ad3c59d41" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
ns ns0 http://localhost:8091/service-oriented-architecture-actions-jaxrs-api/StarshipResource
---
{
	name: payload.body.ns0#putOnStarshipResponse.return.name,
	totalParatroopers: payload.body.ns0#putOnStarshipResponse.return.totalParatroopers
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="06a0931d-b2d1-4ff0-a6e1-578fecab59d6" type="WSC:SOAP_FAULT">
				<set-variable value="400" doc:name="Set Variable" doc:id="e5cfd2f6-84cc-45dc-8d00-636b8d5f5322" variableName="httpStatus"/>
				<ee:transform doc:name="Transform Message" doc:id="da9b4925-4af2-4916-affc-0058c6a18477" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  message: error.detailedDescription
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
    </flow>
	<flow name="post:\starship\(starship-id)\unload-all:lab4-config">
        <logger level="INFO" message="post:\starship\(starship-id)\unload-all:lab4-config" />
		<set-variable value="#[attributes.uriParams.'starship-id']" doc:name="Set Variable" doc:id="f6499437-1ab9-48ac-ba70-4f0c844f4db8" variableName="starshipId"/>
		<ee:transform doc:name="Transform Message" doc:id="a9b65da6-d96a-45e8-ac68-f86888f67c93" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://localhost:8091/service-oriented-architecture-actions-jaxrs-api/StarshipResource
---
{
	ns0#kickOutOfStarship: {
		"starship-id": vars.starshipId
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume doc:name="Consume" doc:id="29759b50-1a15-4035-9a56-043df6992a7c" config-ref="Web_Service_Consumer_Config" operation="kickOutOfStarship"/>
		<ee:transform doc:name="Transform Message" doc:id="182bc69a-57a7-4153-93d8-04b7ec53f86d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
ns ns0 http://localhost:8091/service-oriented-architecture-actions-jaxrs-api/StarshipResource
---
{
	name: payload.body.ns0#kickOutOfStarshipResponse.return.name,
	totalParatroopers: payload.body.ns0#kickOutOfStarshipResponse.return.totalParatroopers
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="Error Propagate" doc:id="91e83501-e5d3-40e7-ac44-b4f7aab1e4da" type="WSC:SOAP_FAULT" >
				<set-variable value="400" doc:name="Set Variable" doc:id="8fa88634-2dd9-41b1-ba91-7ddb9c85cc53" variableName="httpStatus" />
				<ee:transform doc:name="Transform Message" doc:id="39a9f3e7-8cff-487f-91f2-32ff0d525668" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  message: error.detailedDescription
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
    </flow>
</mule>
